<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>todolist</title>

</head>

<body>
    <div id="app">
        <div class="panel panel-success">
            <div class="panel-heading ">
                <h2>今天还有{{num}}件事没做</h2>
                <input type="text" @keyup.enter="add" v-model="task">
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" v-for="(todo,index) of filterTodos">
                        <input type="checkbox" v-model="todo.isSelected">
                        <input type="text" :value="todo.thing">
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-remove-circle pull-right" @click="handleDelete(index)"></button></li>

                </ul>
            </div>
            <div class="panel-footer  ">
                <ul class="nav nav-pills">
                    <li role="presentation" :class="{active:hash=='#all'}"><a href="#all">全部任务</a></li>
                    <li role="presentation" :class="{active:hash=='#finish'}"><a href="#finish">已完成</a></li>
                    <li role="presentation" :class="{active:hash=='#unfinish'}"><a href="#unfinish">未完成</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script crossorigin="anonymous" integrity="sha384-9u9lzb/hr8e14GLHe5TEOrTiH3Qtw5DX2Zw9X/g7cqj81W2McEMx5CKOszxdb8jg" src="https://lib.baomitu.com/vue/2.6.10/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                task: '', //存储任务
                task: '', //存储任务,默认为all
                hash: '#all', //存储hash值
                things: [{
                    isSelected: false,
                    thing: "学习",
                }, {
                    isSelected: false,
                    thing: "练习",
                }]
            },
            methods: {
                add() {
                    //添加任务
                    this.things.unshift({
                            isSelected: false,
                            thing: this.task
                        })
                        //清空input框
                    this.task = ''
                },
                //删除对应的任务
                handleDelete(index) {
                    this.things.splice(index, 1)
                }
            },
            computed: {
                //对未完成任务的计数
                num() {
                    return this.things.filter((todo) => {
                        return todo.isSelected === false
                    }).length
                },
                filterTodos() {
                    //如果地址栏的hash值是finish,要找出所有isSelected为true的数组成员
                    //如果地址栏的hash值是finish,要找出所有isSelected为true的数组成员
                    //如果地址栏的hash值是all,则直接返回原数组
                    if (this.hash === '#finish') {
                        return this.things.filter(todo => todo.isSelected)
                    }
                    if (this.hash === '#unfinish') {
                        return this.things.filter(todo => !todo.isSelected)
                    }
                    return this.things

                }
            },
            created() {
                //监听hash值的变化
                window.addEventListener('hashchange', () => {
                    this.hash = window.location.hash
                })
            },
        })
    </script>
</body>

</html>